
  
  .bg {
    /* The image used */
   
   
    filter: grayscale(40%);
  
    /* Full height */
object-fit: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
    width: 100%; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 6px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 9%; /* Some padding */

  }